.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/Maxresdefault-2.jpg");
    background-size: cover;
}

.btn{
    font-size: 2rem;
    margin: 100px;
    width: 150px;
    height: 90px;
    color:rgb(0, 0, 0);
    font-weight: black;
    font-family: 'Merriweather', serif;
    background-color: rgba(235, 215, 222, 0.856);
    border: 4px solid transparent;
    border-radius: 6px;
    cursor:pointer;
    transition: all 0.5s;
}

.btn:hover {
    cursor: pointer;
    background-color: #ecc42056;
    color: #050505;
    border: 5px solid #f0a309;
}